.App {
  text-align: center;
}

.Header {
  border: 1px solid red;
}
.Nav {
  border: 1px solid rgb(51, 255, 0);
}
img {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
